In [4]:
pip install shap

Requirement already satisfied: shap in c:\users\diyac\anaconda3\lib\site-packages (0.43.0)
Requirement already satisfied: numpy in c:\users\diyac\anaconda3\lib\site-packages (from shap) (1.24.3)
Requirement already satisfied: scipy in c:\users\diyac\anaconda3\lib\site-packages (from shap) (1.11.1)
Requirement already satisfied: scikit-learn in c:\users\diyac\anaconda3\lib\site-packages (from shap) (1.3.0)
Requirement already satisfied: pandas in c:\users\diyac\anaconda3\lib\site-packages (from shap) (2.0.3)
Requirement already satisfied: tqdm>=4.27.0 in c:\users\diyac\anaconda3\lib\site-packages (from shap) (4.65.0)
Requirement already satisfied: packaging>20.9 in c:\users\diyac\anaconda3\lib\site-packages (from shap) (23.1)
Requirement already satisfied: slicer==0.0.7 in c:\users\diyac\anaconda3\lib\site-packages (from shap) (0.0.7)
Requirement already satisfied: numba in c:\users\diyac\anaconda3\lib\site-packages (from shap) (0.57.1)
Requirement already satisfied: cloudpickle in c:\users\diyac\anaconda3\lib\site-packages (from shap) (2.2.1)
Requirement already satisfied: colorama in c:\users\diyac\anaconda3\lib\site-packages (from tqdm>=4.27.0->shap) (0.4.6)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in c:\users\diyac\anaconda3\lib\site-packages (from numba->shap) (0.40.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\diyac\anaconda3\lib\site-packages (from pandas->shap) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\diyac\anaconda3\lib\site-packages (from pandas->shap) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\diyac\anaconda3\lib\site-packages (from pandas->shap) (2023.3)
Requirement already satisfied: joblib>=1.1.1 in c:\users\diyac\anaconda3\lib\site-packages (from scikit-learn->shap) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\diyac\anaconda3\lib\site-packages (from scikit-learn->shap) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\diyac\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->shap) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
#importing packages
import shap
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import requests                                      # reading data
from io import StringIO

from sklearn.datasets import fetch_openml            # common data set access
from sklearn.preprocessing import StandardScaler     # scaling transform
from sklearn.model_selection import train_test_split # validation tools
from sklearn.metrics import zero_one_loss as J01
from sklearn.preprocessing import OneHotEncoder
import xgboost
from sklearn.linear_model import LinearRegression

import sklearn.tree as tree

# Fix the random seed for reproducibility
# !! Important !! : do not change this
seed = 1234
np.random.seed(seed)

ModuleNotFoundError: No module named 'xgboost'

In [18]:
# Reading in the CSV file
Xtr = pd.read_csv("data/X_TRAINING_SET_Diabetes_ENCODED.csv")
Ytr = pd.read_csv("data/Y_TRAINING_SET.csv")
                  
Xtest = pd.read_csv("data/X_VALIDATION_SET_ENCODED.csv")
Ytest = pd.read_csv("data/Y_VALIDATION_SET.csv")

In [19]:
Ytr

       Unnamed: 0 readmitted
0           47866         NO
1           24673         NO
2           61033         NO
3           74444        >30
4           56971        <30
...           ...        ...
71231       89460         NO
71232       60620         NO
71233       34086         NO
71234       58067        >30
71235       92975        >30

[71236 rows x 2 columns]

In [20]:
Ytr['readmitted'] = Ytr['readmitted'].map({'<30': 1, 'NO': 0, '>30': 2})
Ytr.to_csv('data/Y_TRAINING_SET_EDIT.csv', index=False)

In [21]:
Ytest

       Unnamed: 0 readmitted
0           60056         NO
1           66252         NO
2           71804        <30
3           16676         NO
4           25765         NO
...           ...        ...
10069       91655         NO
10070       28636        >30
10071      101193         NO
10072       94482         NO
10073       40420        >30

[10074 rows x 2 columns]

In [22]:
Ytest['readmitted'] = Ytest ['readmitted'].map({'<30': 1, 'NO': 0, '>30': 2})
Ytest.to_csv('data/Y_VALIDATION_SET_EDIT.csv', index=False)

In [23]:
Ytest

       Unnamed: 0  readmitted
0           60056           0
1           66252           0
2           71804           1
3           16676           0
4           25765           0
...           ...         ...
10069       91655           0
10070       28636           2
10071      101193           0
10072       94482           0
10073       40420           2

[10074 rows x 2 columns]